@model UnityDependencyInjectionDemo.ViewModels.ViewModel

@{
    ViewBag.Title = "Home Page";
}

<br/>
<br/>
<div class="jumbotron">
    <h1>Announcement!</h1>
    <p class="lead">@Model.Data</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
